<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <a routerLink="/">
        <img ngSrc="/assets/logo/nova_reel_logo.svg" alt="Nova Reel Logo" height="16" width="16"/>
      </a>
    </div>


    <!-- User Authentication Component -->
    <div class="navbar-auth">
      <app-user-auth></app-user-auth>
      <a href="https://www.buymeacoffee.com/waynegakuo" target="_blank" rel="noopener" class="bmc-button">
        <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee" />
        <span>Buy me a coffee</span>
      </a>
    </div>
  </div>
</nav>
