/* You can add global styles to this file, and also import other style files */

body {
  background-color: rgb(253, 253, 253);
  margin: 0;
  font-family: "Architects Daughter", serif;
  padding: 0 20px;
}
